textarea {
    width: 90%;
    color: white;
    background-color: darkgrey;
    padding: 5px;
    margin: 5px;
}

input {
    width: 90%;
    padding: 5px;
    color: white;
    background-color: darkslategrey;
    border: none;
    margin: 5px;
}

.deleteBtn {
    display: block;
    padding: 5px;
    width: 46px;
    color: white;
    border: none;
    background-color: #424040;
    cursor: pointer;
    margin: auto;
    font-size: 10px;
}

.deleteBtn:hover {
    background-color: #696969;
}

.blog-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.blog-img {
    max-width: 29%;
}

.blog-full-img {
    width: 100%;
    display: block;
    margin: auto;
    max-width: 600px;
}

.blog-text {
    width: 69%;
    text-align: justify;
    line-height: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.blog-text .span {
    margin-bottom: 5px;
}

.blog-section {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: block;
    font-weight: 700;
    padding: 10px;
    border-bottom: 1px solid green;
    width: fit-content;
    margin: auto;
}

.blog-section:hover {
    border: 1px solid grey;
}

.blog-container:hover {
    border: 1px solid grey;
}

.blog-text-full {
    width: 100%;
    text-align: justify;
    line-height: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#openNav {
    display: block;
    padding: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    background-color: grey;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

#copyHTML {
    display: block;
    padding: 15px;
    position: fixed;
    top: 0px;
    left: 130px;
    color: white;
    background-color: rgb(37, 126, 77);
    width: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav span:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media all and (max-width: 600px) {

    /* We tell both sidebars to share a row */
    .blog-container {
        flex-flow: column;
    }

    .blog-img {
        width: 100%;
        max-width: 100%;
    }

    .blog-text {
        width: 100%;
        max-width: 100%;
    }
}